body {

    background-color: black;
}

.card{


    color: rgba(255, 255, 255, 0.804);
    border-color: rgba(240, 248, 255, 0.483);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
  
  

  .card-body {
    position: relative;
    height: 350px;
  }
  
  .card-body btn-group {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
