body {
    background-image: url('../images/about-me-main-div.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
video {

    display: block;
    margin: 5px;
    height: auto;
    width: 85%;
    border-radius: .5rem;
  }
  h2{
    font-family: 'Courier New', Courier, monospace;
    color: white;
  }