body {
    background-image: url('../images/about-me-main-div.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}




/* About Me Section */
.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #faf8f5;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #8f8f91;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
    
}
.how-img img{
    width: 50%;
}






/* Skills Section */


hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(251, 248, 248, 0), rgb(249, 247, 247), rgba(254, 251, 251, 0));
  }

.btn {
   
    height: 150px;
    width: 250px;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    transform: translateZ(-75px);
}

.btn:hover {
    transform: rotateX(-90deg) translateY(75px);
}




.side {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

.default-side {
   
    transform: translateZ(75px);
}

.hover-side {
    border-radius: 1rem;
    background-color: rgb(14, 14, 14);
    border: 5px solid rgb(247, 245, 245);
    color: rgb(250, 251, 251);
    transform: rotateX(90deg) translateZ(75px);
}